/* Global Elements */

body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 793.7px;
    /* height & width converted from mm to pixel A4 210mm x 297mm = 793.7px x 1122.5px*/
    height: 1122.5px;
}
.container {
    display: table;
    width: 793.7px;
    /* height converted from mm to pixel 3/5 0f A4 297mm 673.5px*/
    height: 673.5px;
}

div {
    display: inline-block;
    position: relative;
    width: 100%;

}

/* /Global Elements */

/* Rectangles */

.rect-one {
    background-color: #e84610;
    width: 50%;
    display: table-cell;
    position: relative;
    top: 0;
}

.rect-two {
    background-color: #0799d3;
    width: 25%;
    display: table-cell;
    position: relative;
    /* position converted from mm to pixel 2/8 of A4 297mm from top */
    top: 280.6px;
}

.rect-three {
    background-color: #285e32;
    width: 12.5%;
    display: table-cell;
    position: relative;
    /* position converted from mm to pixel 1/5 of A4 297mm from top */
    top: 449px;
}
.rect-four {
    background-color: #c934c9;
    width: 6.25%;
    display: table-cell;
    position: relative;
     /* position converted from mm to pixel 1/7 of A4 297mm from top */
    top: 160.2px;
}
.rect-five {
    background-color: #b9c426;
    width: 3.125%;
    display: table-cell;
    position: relative;
    top: 0;
}

/* /Rectangles */
