/* Global Elements */

@import url("https://fonts.googleapis.com/css?family=Montserrat:600|Source+Sans+Pro:600,500&display=swap");

body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 793.7px;
    /* height & width converted from mm to pixel A4 210mm x 297mm = 793.7px x 1122.5px*/
    height: 1122.5px;
}

main {
    background-color: #F4EFEB;
    width: 793.7px;
    height: 1122.5px;
    position: absolute;
    top: 0;
    z-index: -1;
}

h1 {
    text-align: left;
    display: table-cell;
    font-family: Sourse Sans Pro, sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.1;
    
}

h2 {
    text-align: right;
    display: table-cell;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 2.35;
}

h3 {
    text-align: right;
    display: table-cell;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.1;
}

h4 {
    text-align: left;
    display: table-cell;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.37;
}

.container {
    display: table;
    width: 793.7px;
    /* height converted from mm to pixel 3/5 0f A4 297mm 673.5px*/
    height: 673.5px;
}

div {
    display: inline-block;
    position: relative;
    width: 100%;

}

/* /Global Elements */

/* Rectangles */

.rect-one {
    background-color: #FD971C;
    width: 50%;
    display: table-cell;
    position: relative;
    top: 0;
    border-right: solid 1.3px white;
}

.rect-two {
    background-color: #FD971C;
    width: 25%;
    display: table-cell;
    position: relative;
    /* position converted from mm to pixel 2/8 of A4 297mm from top */
    top: 280.6px;
    border-left: solid 1.3px white;
    border-right: solid 1.3px white;
}

.rect-three {
    background-color: #FD971C;
    width: 12.5%;
    display: table-cell;
    position: relative;
    /* position converted from mm to pixel 1/5 of A4 297mm from top */
    top: 449px;
    border-left: solid 1.3px white;
    border-right: solid 1.3px white;
}

.rect-four {
    background-color: #FD971C;
    width: 6.25%;
    display: table-cell;
    position: relative;
     /* position converted from mm to pixel 1/7 of A4 297mm from top */
    top: 160.2px;
    border-left: solid 1.3px white;
    border-right: solid 1.3px white;
}

.rect-five {
    background-color: #FD971C;
    width: 3.125%;
    display: table-cell;
    position: relative;
    top: 0;
    border-left: solid 1.3px white;
}

/* /Rectangles */

/* Text*/

.left-text {
    display: table;
    display: inline-block;
    vertical-align:top;
    padding-top: 5px;
    padding-left: 68px;
    margin-top: 330px;
    
}

.right-text {
    display: table;
    display: inline-block;
    margin-top: 330px;
    margin-left: 20px;
   
    
}

.bottom-text-left {
    display: table;
    display: inline-block;
    vertical-align:top;
    padding-top: 5px;
    padding-left: 18px;
    margin-top: 162px;
}

.bottom-text-right {
    display: table;
    display: inline-block;
    margin-top: 5px;
    margin-left: 16px;
}

/* /Text*/